body {
  margin: 3em 2em;
  font-family: sans-serif;
  color: hsla(0, 0%, 0%, 0.8);
}

ul {
  list-style: none;
}

a:visited {
  color: hsl(240, 100%, 47%);
}

body > #root {
  display: flex;
  flex-flow: row wrap;
}

#bread {
  margin-bottom: 2em;
  margin-right: 4em;
  flex: none;
}

#root > #turinys {
  min-width: 100%;
}

#root > #pakeitimu-pultas {
  flex: auto;
  position: fixed;
}

#paveikslai {
  padding-right: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  flex: none;
}

.space-mark {
  width: 1em;
  /*background-color: hsla(0, 0%, 0%, 0.1);*/
  height: 5em;
  align-self: center;
  flex: none;
  margin: 4em 1.5em 11em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed hsla(0, 0%, 0%, 0.8);
  opacity: 0.5;
  transition: 0.2s;
}

.space-mark:hover {
  opacity: 1;
}

#paveikslai.judina .space-mark {
  opacity: 1;
  border-color: hsl(240, 100%, 50%);
  background: hsla(240, 100%, 50%, 0.08);
}

#paveikslai.judina .space-mark:hover {
  background: hsl(0, 0%, 0%);
  background: hsla(240, 100%, 50%, 0.7);
}

#paveikslai.judina .space-mark .naujas {
  display: none;
}

.paveikslas {
  display: flex;
  flex-flow: column;
  transition: 0.2s;
}

.paveikslas.pakeistas {
  background: hsla(240, 100%, 47%, 0.08);
}

.paveikslas.judinamas .judina::after {
  content: "udinamas";
}

.paveikslas.trinamas .trina::after {
  content: "rinamas";
}

.paveikslas img {
  min-height: 20em;
  min-width: 20em;
}

.paveikslas .irankiai {
  align-self: flex-end;
}

.irankiai > * {
  /*color: hsl(240, 100%, 47%);
  cursor: pointer;
  font-family: monospace;
  text-decoration: underline;*/
  margin: 0.5em 1em;
  margin-left: 0;
  display: inline-block;
}

#http-pulse {
  position: fixed;
  top: 1em;
  z-index: 10;
}

#http-pulse > figure {
  display: block;
  border-radius: 50%;
  height: 3em;
  width: 3em;

  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: appear;

  position: relative;
  transition-duration: 1s;
  margin: 0;
  box-sizing: border-box;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#http-pulse > figure.pending {
  border: 1px dashed hsla(0, 0%, 0%, 1);
  background: hsla(0, 0%, 100%, 0.13);
}

#http-pulse > figure.success {
  background-color: hsl(271, 68%, 32%); /* violetine */
  /*background-color: hsl(240, 100%, 47%);*/ /* melyna */
}

#http-pulse > figure.failure {
  background-color: hsl(0, 90%, 40%);
}

#http-pulse > figure.success, #http-pulse > figure.failure {
  opacity: 1;
  animation-name: leave;
}

@keyframes leave {
  70% {
    opacity: 1;
    height: 3em;
  }
  90% {
    opacity: 0;
    height: 3em;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
