html {
  font-family: sans-serif;
  color: hsla(0, 0%, 0%, 0.8);
  margin: 1em 2em 0;
  display: flex;
  align-items: center;
}

body {
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  min-height: 15em;
  max-height: 30em;
}

nav {
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  flex-flow: row;
  width: 24em;
  margin-left: 2em;
  margin-right: 16em;
}

header > * {
  width: 50%;
}

header h1 {
  margin: 0;
  font-size: 1em;
}

header nav a:hover {
  text-decoration: underline;
}

header a {
  /*color: hsl(240, 100%, 47%); melyna*/ 
  color: inherit;
  text-decoration: none;
}

a:active {
  color: hsl(219, 100%, 66%);
  color: hsl(53, 86%, 50%);
  color: hsl(0, 90%, 50%);
}

ul#portfolio {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row nowrap;
}

li {
  padding-right: 2em;
  list-style: none;
}

li img {
  /*display: block;*/
}

.stulpelynas {
  display: flex;
  flex-flow: column wrap;
}

p {
  margin-top: 0;
  margin-right: 2em;
}

.stulpelynas > * {
  width: 25em;
}
